<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="/static/css/AdminContact.css" />
		<meta charset="utf-8" />
		<style></style>
	</head>
	<body>
		<div id="myNav" class="overlay">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
				>&times;</a
			>
			<div class="overlay-content">
				<a href="#">Contacts</a>
				<a href="../Admin Panel/Map.html">News</a>
			</div>
		</div>

		<div class="headercontainer">
			<div
				class="menubutton"
				style="font-size:24px;cursor:pointer"
				onclick="openNav()"
			>
				<i class="material-icons">sort</i>
			</div>
			<div class="heading">Contacts</div>
			<div class="space"></div>
		</div>
		<hr />

		<div class="container" style="width: 93%; margin-left: 0;">
			<section class="table">
				<!--for demo wrap-->
				<div class="tbl-header">
					<table cellpadding="0" cellspacing="0" border="0">
						<thead>
							<tr>
								<th>Name</th>
								<th>Phone Number</th>
								<th>Location</th>
								<th>State</th>
								<th>Contact Type</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="tbl-content">
					<table cellpadding="0" cellspacing="0" border="0">
						<tbody>
							{% for contact in contacts %}
							<tr>
								<td>{{ contact.name }}</td>
								<td>{{ contact.phoneNumber }}</td>
								<td>{{ contact.location }}</td>
								<td>{{ contact.stateDivision }}</td>
								<td>{{ contact.contactType }}</td>
								<td>{{ contact.status }}</td>
								<td>
									<a href=""
										><div class="btn btn-warning">
											<i
												class="material-icons"
												style="font-size: 15px;"
												>edit</i
											>
										</div></a
									>
									<a href=""
										><div class="btn btn-danger">
											<i
												class="material-icons"
												style="font-size: 15px;"
												>delete</i
											>
										</div></a
									>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<a href="#" class="addnew">
					<div class="name">Add New</div>
					<div class="addicon">
						<i class="material-icons">add_circle_outline</i>
					</div>
				</a>
			</section>

			{% for contact in contacts %}
			<div class="card">
				<div class="be_flex">
					<div class="icon"><i class="material-icons">person</i></div>
					<div class="attr">{{ contact.name }}</div>
				</div>
				<div class="be_flex">
					<div class="icon"><i class="material-icons">phone</i></div>
					<div class="attr">{{ contact.phoneNumber }}</div>
				</div>
				<div class="be_flex">
					<div class="icon"><i class="material-icons">home</i></div>
					<div class="attr">{{ contact.location }}</div>
				</div>
				<div class="be_flex">
					<div class="icon"><i class="material-icons">place</i></div>
					<div class="attr">{{ contact.stateDivision }}</div>
				</div>
				<div class="be_flex">
					<div class="icon"><i class="material-icons">work</i></div>
					<div class="attr">{{ contact.Type }}</div>
				</div>
				<div class="be_flex">
					<div class="icon"><i class="material-icons"></i></div>
					<div class="attr">{{ contact.status }}</div>
				</div>
			</div>
			{% endfor %}

		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script>
			function openNav() {
				document.getElementById("myNav").style.width = "100%";
			}

			function closeNav() {
				document.getElementById("myNav").style.width = "0%";
			}
		</script>

		<script>
			// '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
			$(window)
				.on("load resize ", function() {
					var scrollWidth =
						$(".tbl-content").width() -
						$(".tbl-content table").width();
					$(".tbl-header").css({ "padding-right": scrollWidth });
				})
				.resize();
		</script>
	</body>
</html>
