<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/static/css/datatable.css">
<body>
    <label for="stateDivision"></label>
    <input type="text" name="stateDivision" id="stateDivision" value="YGN">
    <br>
    <input type="button" value="" onclick="callData()">
    <br>
    <input type="button" value="" onclick="refreshTable()">
    <br>
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
        </tbody>
    </table>
</body>
<script src="js/jquery.js"></script>
<script src="js/datatable.js"></script>
<script src="js/axios.js"></script>
<script src="js/allservices.js"></script>
</html>